<%- include('partials/header') %> <%- include('partials/navbar') %>
<br /><br /><br />
<h1 id="header">Ichiban</h1>
<p id="description">
  Manage your server using built-in moderation commands, become a millionare
  <br />
  with our economy system! And play games using our commands!
</p>
<center>
  <button class="button is-success is-large">Invite</button>
  <button class="button is-info is-large">Support</button>
</center>
<br><br><br>
<!-- <div class="flex feature">
  <center><h2 id="header">Feature</h2></center>
  <br />
  <br /><br />
  <p id="feadescription">
    Lorem ipsum is a name for a common type of placeholder text. Also known
    as<br />
    filler or dummy text, this is text copy that serves to fill a space
    without<br />
    saying anything meaningful. It's essentially nonsense text that still
    gives<br />
    an idea of what real words will look like in the final product.
  </p>
  <img id="featureImg" src="/images/icon.png" />
</div> -->
<%- include('partials/feature', {title: "Economy", image:"/images/money.png",description: "Explore our economy system with multiple commands. Become a millionare and share the money with your friends!"}) %> 
<%- include('partials/feature-2', {title: "Games", image:"/images/game.png",description: "Have fun with our fun commands! Our games allow multiplayer and singleplayer, you can invite your friends to join you!"}) %> 
<%- include('partials/feature', {title: "Moderation", image:"/images/moderation.png",description: "Our bot has powerful moderation commands to help you organise and manage your server. Use built-in commands to make your server be what you want it to be!"}) %> 
<br><br><br>
<center>
  <h2 id="header2">Have More Questions?</h4>
  <button  class="button is-info ">Join Our Discord</button>
</center>
<br><br>
<div style="background-image: url(/images/banner2.png); background-repeat: no-repeat;;background-size: cover;
">
  <br><br><br><br>
  <br><br><br><br>

  <h1 id="header">Ready to start?</h1>
  <br>
  <center>
  <button  class="button is-info is-outlined is-large">Join Our Discord</button>
  <button style="margin-left: 1cm;" class="button is-danger is-outlined is-large">Get Premium</button>
</center>
<br><br><br><br>

</div>


<%- include('partials/footer') %>
